.resumePageContainer > div > .content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.resumePageContainer { 
  justify-content: center;
  align-items: center;
}

.resumePageContainer > div {
  width: 40vw;
  min-width: 500px;
  display: flex;
  flex-flow: column;
  gap: 10px;    
}

.resumePageContainer > div > p {
    margin: 0;
}

.resumePageContainer > div > .title {
    font-size: 40px;
    font-weight: 600;
}

.resumePageContainer > div > .subTitle {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 20px;
}

.resumePageContainer > div > .subTitle > img {
    height: 20px;
}

.resumePageContainer > div > .uploadContainer {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  border: 3px dashed #393a3bcc;
  cursor: pointer;
  transition: 200ms ease;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.resumePageContainer > div > .uploadContainer:hover {
    filter: brightness(2);
}

.resumePageContainer > div > .uploadContainer > img {
    height: 80px;
}

.resumePageContainer > div > .uploadContainer > p {
    margin: 0;
    gap: 5px;
}

.resumePageContainer > div > .uploadContainer > p:nth-of-type(1) {
    font-weight: 600;
    font-size: 20px;
}

.resumePageContainer > div > .uploadContainer > p:nth-of-type(2) {
    font-size: 14px;
}

.resumePageContainer > div > .fileEntry {
    display: flex;
    flex-flow: row nowrap;
    padding: 5px 15px;
    border: 3px solid#393a3bcc;
    border-radius: 10px;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 18px;
}

.resumePageContainer > div > .fileEntry > img {
    height: 40px;
}

.resumePageContainer > div > .fileOptions {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

.resumePageContainer > div > .fileOptions > button {
    border-radius: 10px;
    border: 0;
    font-weight: 600;
    font-size: 18px;
    height: 48px;
    width: 250px;
    margin-top: 40px;
    flex: 1;
    margin-top: 10px;
}

.resumePageContainer > div > .fileOptions > .cancel {
    background-color: transparent;
    border: 2px solid #162533;
    color: #162533;
}

.resumePageContainer > div > .fileOptions > .continue {
    background-color: #162533;
    color: rgb(239 239 239);
}